.footer {

    .nav {
        padding: 20px 0px 20px 0px;
        .menu {
            display:flex;
            justify-content: space-between;
            font-size:0.9rem;
            ul {
                display:flex;
                a {
                    color:#444;
                }
            }
        }
    }
}