header {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    // height:100px;
    .logo {
        max-width:50%;
        padding:10px;
        img {
            max-width:100%;
            min-width: 250px;
        }
    }
    .menu-primary-nav-container {
        font-size: 1.1rem;
        ul {
            display:flex;
            justify-content: space-around;
            padding-inline-start: 0px;
            a {
                color:#444;
                &:hover {
                    color:#B28E6A;
                }
            }                  
        }
    }
}
.uagb-post__excerpt {
    font-size:1rem !important;
  }
.wrapper {
    max-width:1200px;
    margin:0 auto;
    padding:15px;
    height: 100%;
    border: 1px solid #eee;
    margin-top: 35px;
  }
  
.at-header {
    display:block;
    text-align:center;
    h2 {
        font-size: 22px;
        font-family: 'Playfair Display', serif;
        font-weight:400;
    }
}
.header-hr {
    margin-top:0;
    display:none;
    
}

// @media only screen and (min-width: 1044px) {
//     header {
//         width: 1024px;
//         max-width: 100%;
//     }
// }
// @media only screen and (min-width: 1260px) {
//     header {
//         width: 1240px;
//         max-width: 100%;
//     }
// }

