.woocommerce ul.products li.product  {
    .button {
        margin-top:0px;
    }
    a img {
        margin:0;
    }
}

.woocommerce-ordering {
    display:none !important;
}

.product_meta {
    display:none;
}

.woocommerce ul#shipping_method li {
    line-height: 2em;
}

.coupon {
    display:none;
}

.shop_table_responsive {
    margin-top:10px !important;
}

.woocommerce .cart-collaterals .cart_totals {
    h2 {
        font-size:24px;
        font-family: 'Abril Fatface', cursive;
        letter-spacing:1px;
    }
    width:100%;
}

#order_review_heading {
    padding-bottom:8px;
    font-size:1.3em;
}

.advgb-image-subtitle {
    display:none;
    transition:.3s ease-in-out;
}

.advgb-image-title {
    font-size: 1.5em !important;
}


.woocommerce ul.products li.product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    margin-top: 4px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    padding-bottom:0px;
}

.entry-summary > * {
    padding-top:15px;
    input {
        height:38px;
        font-size:18px;
        
    }
}

.woocommerce .single_add_to_cart_button {
    background-color:#B28E6A !important;
}

.woocommerce #payment #place_order {
    background-color:#B28E6A !important;
}

.related {
    display:none;
}

.woocommerce div.product p.price {
    color:#B28E6A;
    font-size:1.75em;
    padding-top:15px;
}

.woocommerce-product-details__short-description {
    padding-top:10px;
}

.in-stock {
    padding-top:5px;
}

.woocommerce a.button.alt {
    &:hover {
        background-color:#333;
    }
}

.woocommerce form .form-row input.input-text {
    height:35px;
}

.woocommerce .woocommerce-customer-details address {
    border:0px;
}